@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Golos+Text&family=Piazzolla:opsz@8..30&family=Playfair+Display:ital@1&family=Rajdhani:wght@300;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
    color: rgb(0, 0, 0)
}
*::selection{
    color: rgb(0, 209, 0);
    background-color: black;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
:root{
    --main-bg: #1e272e;
    --main-color:skyblue;
}
.main_menu{
    background-color: rgb(92, 92, 92);
}
.navbar{
    background-color: rgb(92, 92, 92);
color: green;
display: flex;
align-items: center;
justify-content: space-around;
}
.navbar a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 13vw;
}
.navbar i{
    color: rgb(0, 145, 255);
    padding: 1vh;
}
.navbar a:hover{
    color: rgb(20, 0, 170);
}
.navbar-toggler{
    background-color: grey;
}
.snow{
    transition: all linear ease;
    animation: colchange 10s linear infinite;
}
@keyframes colchange {
    0%{
        color: rgb(175, 175, 175);
    
    }
    33%{
        color: rgb(255, 169, 11);
    }
    70%{
        color: rgb(40, 183, 239);
    }
    100%{
        color: rgb(175, 175, 175);

    }
    
}
/* main header style */
.row{
    margin: 0; /* now the scrollbar has gone */
}
.main_header_left{
    width: 50%;
height:70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.main_header_right{
    width: 50%;
    height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.carousel{
    height: 70%;
    width: 70%;
    overflow: hidden;
    border-radius: 4px;
}
.main_header_left h1{
color: rgb(0, 0, 0);
font-size: 3vw;
font-weight: 700;
text-transform: uppercase;

}
.main_header_left p{
    color: rgb(59, 59, 59);
    font-size: 2vw;
    font-weight: 500;
    text-transform: uppercase;
    }
    .main_header_left button{
        color: rgb(49, 0, 31);
        font-size: 1vw;
        font-weight: 700;
        border-radius: 20px;
        text-transform: uppercase;
padding: .7vh;
margin-top: 2vw;
background-color: rgb(213, 250, 255);
box-shadow: 2px 2px 20px 10px rgb(200, 242, 252);
}
.main_header_left button:hover{
    background-color: rgb(174, 246, 255);
    color: rgb(49, 0, 31);

}
/* footer code */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto; /*footer will align at botton*/
    width: 100%;
    height: 2.4w;
    background-color: rgb(229, 229, 229);
}
footer p{
    color: black;
    font-weight: bold;
    font-size: 1.2vw;
  
}


/* styling the weather page */
.tempinfo{
    width: 40rem;
    margin: auto;
    min-height: 25rem;
    background-color: rgb(45, 9, 9);
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Piazzolla', serif;
    color: white;
}
.toplayer{
    width: 100%;
    height: 3rem;
    background-color: rgb(59, 40, 40);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}
.toplayer P{
color: white;
font-weight: bold;
}
.main_layer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.main_layer #city_name{
    padding: 2rem 1rem;
    color: white;
     font-weight: 300;
     font-size: 1.5rem;
     text-align: center;

}
.main_layer .middle_layer{
display: flex;
justify-content: space-around;
color: white;
}
.middle_layer p,.middle_layer span,.middle_layer .cloud,.middle_layer sup{
    font-size: 4rem;
    font-weight: 500;
    color: rgb(179, 238, 245);
}
.cloud{
    color: whitesmoke;

}
.data_hide{
visibility: hidden;
transition: all 0.3s linear;
}
.temp_form{
width: 60%;
position: relative;
margin: 1.5rem auto;
}
.temp_form input[type="text"]{
width: 100%;
padding: .8rem 2rem .8rem 1rem;
background-color: rgb(81, 81, 81);
color: white;
outline: none;
border: none;
font-size: 1.2rem;
border-radius: 3rem;
}
::placeholder{
    color: wheat;
}
.temp_form input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background-color: rgb(2, 116, 161);
    padding: 0 1.7rem;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 3rem;
    transition: all ease .5s;
}
.temp_form input[type="submit"]:hover{
    color:rgb(4, 92, 127);
    background-color:whitesmoke;
}